---
- name: Include accounts
  include_vars:
    file: ../../accdom.yml
    name: accounts
  tags: base

- name: Ensure necessary Microsoft features are installed
  win_feature:
    name: "{{ item }}"
    state: present
  with_items:
  # Available features can be listed using Get-WindowsFeature
  - AD-Domain-Services
  - RSAT-AD-AdminCenter
  - RSAT-ADDS-Tools
  tags: base

- name: Ensure domain is created
  win_domain:
    dns_domain_name: "{{ domain.dns_name }}"
    safe_mode_password: "{{ accounts.dcsafemode.password }}"
  register: domain_creation
  tags: base

- name: Reboot if domain was just created
  win_reboot: {}
  when: domain_creation.reboot_required
  tags: base

- name: Ensure domain controllers are promoted
  win_domain_controller:
    dns_domain_name: "{{ domain.dns_name }}"
    domain_admin_user: "{{ accounts.initial_domain_admin.username }}@{{ domain.dns_name }}"
    domain_admin_password: "{{ accounts.initial_domain_admin.password }}"
    safe_mode_password: "{{ accounts.dcsafemode.password }}"
    state: domain_controller
  register: dc_promotion
  tags: base

- name: Reboot if server was just promoted to a domain controller
  win_reboot: {}
  when: dc_promotion.reboot_required
  tags: base

- name: Install Nuget
  ansible.windows.win_shell: Install-PackageProvider -Name Nuget -Force
  tags: base

- name: Install ActiveDirectory PS DSC
  ansible.windows.win_shell: Install-Module -Name ActiveDirectoryDsc
  tags: base

- name: Wait for domain to be available
  win_dsc:
    resource_name: WaitForADDomain
    DomainName: "{{ domain.dns_name }}"
    WaitTimeout: 600
    RestartCount: 2
  tags: base
