[Unit]
Description=Kibana
After=network.target

[Service]
ExecStart=/bin/sh -c '/opt/kibana/bin/kibana --allow-root > /var/log/kibana.log 2>&1'
ExecStop=/bin/sh -c 'kill `cat /var/run/kibana.pid`'
Type=simple
PIDFile=/var/run/kibana.pid
Restart=always

[Install]
WantedBy=multi-user.target