pywinrm==0.4.3
requests==2.28.2
msrest==0.7.1
msrestazure==0.6.4
ansible==10.4.0
azure-cli==2.64.0
packaging
requests[security]
xmltodict
msgraph-sdk==1.6.0
azure-cli-core==2.64.0
azure-common
azure-identity
azure-mgmt-authorization
azure-mgmt-apimanagement
azure-mgmt-batch
azure-mgmt-compute
azure-mgmt-cdn
azure-mgmt-containerinstance
azure-mgmt-core
azure-mgmt-containerregistry
azure-containerregistry
azure-mgmt-containerservice
azure-mgmt-datafactory
azure-mgmt-dns
azure-mgmt-marketplaceordering
azure-mgmt-monitor
azure-mgmt-managedservices
azure-mgmt-managementgroups
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-privatedns
azure-mgmt-redis
azure-mgmt-resource
azure-mgmt-rdbms
azure-mgmt-search
azure-mgmt-servicebus
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-trafficmanager
azure-mgmt-web
azure-nspkg
azure-storage-blob
azure-core
azure-keyvault
azure-mgmt-keyvault
azure-mgmt-cosmosdb
azure-mgmt-hdinsight
azure-mgmt-devtestlabs
azure-mgmt-loganalytics
azure-mgmt-automation
azure-mgmt-iothub
azure-iot-hub;platform_machine=="x86_64"
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-notificationhubs
azure-mgmt-eventhub
